/* setup font family */
.jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #123961;
}

#controllers {
    height: 10vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
    align-content: center;
    background-color: #CB2D6F;
    color: #F3F8FF;
    border-color: #F3F8FF;
    border-width: 3px;
    border-style: dashed;
    border-radius: 5px;
    width: 95vw;
}

#timer {
    font-size: 1.2rem;
    align-content: center;
}

#level-number {
    font-size: 1.3rem;
    align-content: center;
}

#controllers-btns-container {
    font-size: 1.2rem;
    align-content: center;
}

.control-btn {
    cursor: pointer;
}

#levels-timeline {
    align-content: center;
}

/* the default case for sound is OFF */
#sound-on {
    display: none;
}

.level-button {
    color: #F3F8FF;
    border-width: 1px;
    border-color: #F3F8FF;
    border-style: solid;
    align-content: center;
    border-radius: 50%;
    /* height: 100%; */
    width: 2em;
}

.enabled {
    background-color: #19a84f;
    cursor: pointer;
}

.enabled:hover {
    background-color: #54dd88;

}

.disabled {
    /* background-color: rgb(174, 172, 172); */
    border-color: lightgray;
    color: lightgray;

}

#game {
    margin-top: 0px;
}

/* cards properties */
.card {
    background-color: #fafc90;
    border-color: #F3F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-width: 2px;
    transition: transform 0.5s;
}

/* display the background img to card if not flipped*/
.unflipped {
    /* background: url('/assets/favicon/apple-touch-icon.png') no-repeat center; */
    background-color: #ebee31;
    /* to hide images from the card */
    font-size: 0px;
}

/* display the background img to card if not flipped*/
.flipped {
    /* to show images from the card */
    font-size: 3em;
    /* add animation when card flipped */
    transform: rotateY(180deg);

}

/* cards dimensions */
.square {
    aspect-ratio: 1 / 1;
}

/* customize bootsrap modal with website theme and style */
.modal-content {
    border-color: #F3F8FF;
    border-width: 5px;
    border-style: double;
}

.modal-header {
    background-color: #19a84f;
    color: #F3F8FF;
    justify-content: center;
}

.modal-body {
    color: #6D108B;
    text-align: center;
    background-color: #F9F8ED;

}


.modal-footer {
    justify-content: center;
    background-color: #F9F8ED;

}

.btn-primary {
    background-color: #CB2D6F;
    --bs-btn-hover-bg: #e4689c;
    color: #F3F8FF;
}

.btn-secondary {
    background-color: #F3F8FF;
    color: #1F4172;
}

.theme-modal-btn {
    width: 2em;
    height: 2em;
    font-size: 2em;
}

/* Footer */
#footer-bar {
    color: #F3F8FF;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    bottom: 0;
    margin: 0;
    font-size: 1.4rem;
}

#footer-bar a {
    color: #F3F8FF;
    text-decoration: none;
}

/* Guide tour popover styling */
.driver-popover {
    background-color: #CB2D6F !important;
    color: #F3F8FF !important;
}

.driver-popover-progress-text {
    color: #d2b7b7 !important;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #controllers {
        height: 10vh;
        margin-top: 7vh;
        /* margin-bottom: 2vh; */
    }

    #timer {
        font-size: 1.4rem;
    }

    #level-number {
        font-size: 2rem;
    }

    #controllers-btns-container {
        font-size: 1.4rem;
    }

    .flipped {
        font-size: 3em;
    }

    .level-button {
        width: 3em;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #controllers {
        height: 10vh;
        margin-top: 6vh;
        /* margin-bottom: 2vh; */
    }

    #timer {
        font-size: 1.8rem;
    }

    #level-number {
        font-size: 2.2rem;
    }

    #controllers-btns-container {
        font-size: 1.8rem;
    }

    .flipped {
        font-size: 4em;
    }

    .level-button {
        width: 4em;
    }
}

/* XLarge devices ( screens, 1200px and up) */
@media screen and (min-width: 1200px) {
    #controllers {
        height: 10vh;
        margin-top: 5vh;
        /* margin-bottom: 2vh; */
    }

    #timer {
        font-size: 1.8rem;
    }

    #level-number {
        font-size: 2.2rem;
    }

    #controllers-btns-container {
        font-size: 1.8rem;
    }

    .flipped {
        font-size: 5em;
    }

    .level-button {
        width: 4em;
    }
}