/* setup font family */
.jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color:#490f8b;
}

#controllers {
    height: 10vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
    align-content: center;
    background-color: #7E30E1;
    color: #F3F8FF;
    border-radius: 5px;
    /* margin-left: 10px;
    margin-right: 10px; */
}

#timer {
    font-size: 1.8rem;
    align-content: center;
}

#level-number {
    font-size: 2.2rem;
    align-content: center;
}

#user-controllers {
    font-size: 1.8rem;
    align-content: center;
}

/* cards properties */
.card {
    background-color: #eab1ec;
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* cards dimensions */
.square {
    aspect-ratio: 1 / 1;
}

/* display the background img to card if not flipped*/
.unflipped {
    /* background: url('/assets/favicon/apple-touch-icon.png') no-repeat center; */
    background-color: #E26EE5;
    font-size: 0px;
}

/* display the background img to card if not flipped*/
.flipped {
    background-color: #eab1ec;
    font-size: 7vw;
}

/* customize bootsrap modal with website theme and style */
.modal-header {
    background-color: #49108B;
    color: white;
    justify-content: center;
}

.modal-body {
    color: #003380;
    text-align: center;
}


.modal-footer {
    justify-content: center;
}

.btn-primary {
    background-color: #E26EE5;
    --bs-btn-hover-bg: #f999fc;
    color: #F3F8FF;
}

.btn-secondary {
    background-color: white;
    color: #1F4172;
}